
h1
{
	color:#014185;
	margin:40px 0 40px 0;
	font-weight:300;
}

.our-team-main
{
	width:100%;
	height:auto;
	border-bottom:3px #014185 solid;
	background:#fff;
	text-align:center;
	border-radius:10px;
	overflow:hidden;
	position:relative;
	transition:0.5s;
	margin-bottom:28px;
	z-index: 0;
}


.our-team-main img
{
	border-radius:10%;
	margin-bottom:5%;
	width: 45%;
	
}

.our-team-main h3
{
	font-size:20px;
	font-weight:700;
	
}

.our-team-main p
{
	margin-bottom:0;
	
}

.team-back
{
	width:100%;
	height:auto;
	position:absolute;	
	top:0;
	left:0;
	padding:5px 15px 0 15px;
	text-align:center;
	background-size: cover;
	margin-left: 1%;
}

.team-front
{
	width:100%;
	height:175px;;
	position:relative;
	z-index:10;
	background-color: #78b4f3e3;
	background-size: cover;
	padding:15px;
	bottom:0px;
	transition: all 0.5s ease; 
	font-size: 25px;  
}
.cursocard{
font-family: century gothic;
font-weight: bold;


}
.cohortecard{
	font-family: century gothic;
}
.our-team-main:hover .team-front
{
	bottom:-200px;
	transition: all 0.5s ease;
}

.our-team-main:hover
{
	border-color:#014185;
	transition:0.5s;
	
}

/*our-team-main*/

.btn-style{

		border-radius: 20px;
		background-color: rgba(8, 206, 212, 0.842);
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
		font-size: 16px;
		
      
}
.btn-primary{
	background-color: #014185;
}
.btn-secondary{
	background-color: ;
}
.text-center{
	font-family: century gothic;
	font-weight: bold;
}